.SpacedLandingPage {
  /* ---- CSS Variables Section ----- */
  --circle-color: #d6d6d6;
  /* -------------------------------- */
  height: 100vh;
  overflow: hidden;
  background: #000;
  /* ---------For Editing Layout---------- */
  border: 2px solid red;
  /* ------------------------------------- */
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(
    calc(-50px + (-200 - -50) * (100vw - 320px) / (960 - 320)),
    calc(100px + (200 - 100) * (100vh - 360px) / (960 - 360))
  );
}

.circle {
  /* ---- Moved Scale To JS ----- */
  /* --circle-size: calc(275px + (440 - 275) * (100vw - 320px) / (960 - 320)); */
  /* width: 300px;
  height: 300px; */
  /* width: var(--circle-size);
  height: var(--circle-size); */
  /* -------------------------------- */
  color: var(--circle-color);
  border: 5px solid;
  background: transparent;
  position: absolute;
  top: calc(26px + (230 - 26) * (100vh - 320px) / (960 - 320));
  left: calc(20px + (260 - 20) * (100vw - 320px) / (960 - 320));
  /* left: calc(50px + (300 - 50) * (100vw - 320) / (960 - 320)); */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  border-radius: 50%;
  overflow: hidden;
}

.boxOne {
  border: 5px solid var(--circle-color);
  width: 100%;
  height: 120%;
  position: absolute;
  top: -10%;
  left: 33.33%;
}

.circleContent {
  border: 4px solid var(--circle-color);
  position: absolute;
  width: 72%;
  height: 100%;
  top: 35%;
  left: -4px;
}

.circleHeading,
.circleText {
  margin: calc(10px + (20 - 10) * (100vw - 320px) / (960 - 320));
}

.circleHeading {
  /* ---- Moved Scale To JS ----- */
  /* font-size: calc(22px + (40 - 22) * (100vw - 320px) / (960 - 320)); */
  /* margin-bottom: calc(25px + (55 - 25) * (100vw - 320px) / (960 - 320)); */
  /* -------------------------------- */
  margin-bottom: 40px;
  position: relative;
}

.circleHeading::after {
  content: '';
  background: var(--circle-color);
  position: absolute;
  top: 150%;
  left: 0;
  width: calc(20px + (50 - 20) * (100vw - 320px) / (960 - 320));
  height: 4px;
}

.circleText {
  /* ---- Moved Scale To JS ----- */
  /* font-size: calc(14px + (25 - 14) * (100vw - 320px) / (960 - 320)); */
  /* -------------------------------- */
}

.flipText {
  white-space: nowrap;
  text-transform: uppercase;
  transform: rotate(90deg);
  text-align: right;
  font-size: calc(12px + (18 - 12) * (100vw - 320px) / (960 - 320));
  color: var(--circle-color);
  position: absolute;
  bottom: calc(130px + (180 - 130) * (100vh - 360px) / (960 - 360));
  /* bottom: calc(85px + (180 - 85) * (100vh - 360px) / (960 - 360)); */
  left: calc(207px + (650 - 207) * (100vw - 320px) / (960 - 320));
}
