.posts {
  /* ---- CSS Variables Section ----- */
  --beige: #e6d2c1;
  --red: #822e21;
  --black: #020403;
  /* -------------------------------- */
  /* border: 2px solid var(--black); */
  width: 100vw;
  /* height: calc(50vh - 120px); */
  height: 50vh;
  background: var(--beige);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 2px solid var(--black);
  width: 90%;
  height: 92%;
  outline: 2px solid var(--black);
  outline-offset: 4px;
  overflow: hidden;
  position: relative;
}

/* .container::before {
  content: '';
  background: var(--beige);
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  width: 1px;
  height: 1px;
  padding: calc(100px + (250 - 100) * (100% - 400px) / (1440-400));
  top: 60%;
  left: 63%;
  transform: translate(-50%, -50%);
} */

.container::after {
  content: '';
  background: var(--black);
  position: absolute;
  width: 100%;
  right: -50%;
  height: 100%;
  transform: skewX(-20deg);
}

.arrowRight {
  /* position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  border-top: 10vw solid transparent;
  border-bottom: 10vw solid transparent;
  border-left: 45vw solid green; */
  background: var(--beige);
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  width: 1px;
  height: 1px;
  padding: calc(100px + (250 - 100) * (100% - 400px) / (1440-400));
  top: 60%;
  left: 63%;
  transform: translate(-50%, -50%);
}

/* .posts::before {
  content: '';
  border: 2px solid var(--black);
  position: absolute;
  width: 93%;
  height: 96%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.posts::after {
  content: '';
  border: 2px solid var(--black);
  position: absolute;
  width: 91%;
  height: 94%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
