@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Raleway:300,400,500');

:root {
  --gallery-gap: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 100;
}

*::before,
*::after {
  box-sizing: border-box;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainHeading {
  height: 120px;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.164);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainHeadingText {
  font-family: raleway;
  position: relative;
}

.mainHeadingText::before {
  --before-spill: 10%;
  content: '';
  background: indianred;
  position: absolute;
  width: 0;
  height: 4px;
  top: 50%;
  left: calc(var(--before-spill) * -1);
  z-index: -1;
  transition: width 250ms ease-out, top 250ms 300ms ease-in;
}

.mainHeading:hover .mainHeadingText::before {
  width: calc(100% + var(--before-spill) * 2);
  top: 105%;
}

section {
  background: snow;
  min-height: 50vh;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section:nth-of-type(even) {
  background: white;
}

.imageGallery {
  margin: var(--gallery-gap);
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imageGalleryPicture {
  flex: 1 1 30%;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: var(--gallery-gap);
}

.imageGalleryTitle {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding-bottom: 15px;
  z-index: 1;
  color: snow;
}

.imageGalleryTitle::before {
  content: '';
  background: snow;
  position: absolute;
  top: 80%;
  left: 0;
  width: 50%;
  height: 9%;
  transition: width 250ms ease-in-out;
}

.imageGalleryPicture:hover .imageGalleryTitle::before {
  width: 100%;
}

.imageGalleryPicture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 300ms ease-in;
}

.imageGalleryPicture:hover img {
  transform: scale(1.15);
}

.togglers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.togglers > * {
  margin: 20px;
}
