.Cards {
  /* ---- CSS Variables Section ----- */
  --b: 20px;
  /* -------------------------------- */
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Cards > * {
  margin: 60px 0;
}

.PoppingCard {
  display: flex;
  flex-direction: row;
}

.PoppingCard > * {
  margin: 25px;
}
