.textField {
  /* ---- CSS Variables Section ----- */
  --trans-speed: 150ms;
  --pri-color: #9dc9f3;
  --brdr-width: 55%;
  --arrow-size: 40px;
  /* -------------------------------- */
  padding: 20px;
  width: 400px;
  position: relative;
  z-index: 2;
}

.textField::before {
  border: 6px solid var(--pri-color);
  background: transparent;
  content: '';
  position: absolute;
  width: var(--brdr-width);
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: background-color var(--trans-speed) ease-in,
    width var(--trans-speed) ease-in;
}

.textField:hover::before {
  background: var(--pri-color);
  width: 100%;
}

.mainHeading {
  font-size: 55px;
  margin: 15px 0 25px;
}

.subHeading {
  font-size: 25px;
  margin: 15px 0;
}

.content {
  line-height: 1.6;
  margin-bottom: 15px;
}

.rightArrow {
  margin: 0;
  padding: 0;
  transform: translate(calc(var(--brdr-width) - var(--arrow-size)));
  font-size: var(--arrow-size);
  transition: transform var(--trans-speed) ease-in;
}

.textField:hover .rightArrow {
  transform: translate(calc(100% - var(--arrow-size)));
}
