.LayeredText {
  /* font-size: 17px; */
  margin: 40px;
  min-height: 100%;
}

.mainContainer {
  position: relative;
  background: indianred;
  margin: 20px auto;
  /* set top/bottom margin back to 0 */
  min-height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer > * {
  position: absolute;
  font-weight: bold;
}

.backgroundText {
  position: relative;
  color: snow;
  font-size: 27em;
  text-align: center;
  padding: 60px 0;
}

.first {
  font-size: 9em;
  top: 50%;
  left: 50%;
  transform: translate(-111%, -150%);
}

.second {
  font-size: 9em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -92%);
}

.third {
  font-size: 3em;
  top: 50%;
  left: 50%;
  transform: translate(85%, -270%);
}

.fourth {
  font-size: 7.3em;
  top: 50%;
  left: 50%;
  transform: rotate(90deg) translate(19.5%, -45%);
}

@media (max-width: 1200px) {
  .LayeredText {
    font-size: 12px;
  }
}

@media (max-width: 820px) {
  .LayeredText {
    font-size: 8px;
  }
}

@media (max-width: 580px) {
  .LayeredText {
    font-size: 4px;
  }
}

/* ------------------------------------- */

.mainContainer1 {
  position: relative;
  background: indianred;
  margin: 20px auto;
  /* set top/bottom margin back to 0 */
  /* height: 80vh; */
  /* min-height: 100%; --- */
  min-height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(5px + 4 * ((100vw - 400px) / 400));
  /* font-size: calc(4px + 4 * ((100vw - 400px) / 400)); */
}

.mainContainer1 > * {
  position: absolute;
  font-weight: bold;
}

.backgroundText1 {
  position: relative;
  color: snow;
  font-size: 27em;
  text-align: center;
  /* padding: 0.1em 0; */
  padding: 0.1em 0;
}

.first1 {
  font-size: 9em;
  top: 50%;
  left: 50%;
  transform: translate(-111%, -150%);
}

.second1 {
  font-size: 9em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -92%);
}

.third1 {
  font-size: 3em;
  top: 50%;
  left: 50%;
  transform: translate(85%, -270%);
}

.fourth1 {
  font-size: 7.3em;
  top: 50%;
  left: 50%;
  transform: rotate(90deg) translate(19.5%, -45%);
}

.testing1 {
  font-size: calc(16px + 20 * ((100vw - 400px) / 400));
}
